<!DOCTYPE html>
<html>
<head>
	<title>CNY Greetings!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/index/css/styles.css">
</head>
<body>
	<div id="content">
		<form id="wish-form">
			<p class="label" id="nameLabel">姓名 / Name:</p>
			<span>
				<input class="input" id="name" name="name" type="text" placeholder="Enter your name here" maxlength="30">
			</span>
			<div id="nameCounter"><p class="counter">0/30</p></div>

			<p class="label" id="greetingLabel">新春贺词 / New Year Greeting:</p>
			<textarea class="input" id="greeting" name="greeting" type="text" placeholder="Enter your New Year greetings here!" maxlength="140" rows="5"></textarea>
			<div id="greetingCounter"><p class="counter">0/140</p></div>

			<input id="submit-button" class="button" name="buttonExecute" type="submit" value="">
		</form>
	</div>

	<script src="/index/js/application.js"></script>
</body>
</html>