.container {
  margin-top: 20px;
}

#unfiltered-wishes {
  margin-top: 20px;
}

#unfiltered-wishes blockquote {
  border-left-color: #337ab7;
}

#unfiltered-wishes blockquote footer {
  font-size: 18px;
}

.alert {
  display: none;
}

.alert .btn-danger {
  float: right;
}

.alert-danger span {
  line-height: 34px;
}

.alert-danger > div:after {
  clear: both;
  content: '';
  display: table;
}
