<!DOCTYPE html>
<html>
  <head>
  	<title>CNY Display</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/index/css/stylesheet.css">
  </head>
  <body background="img/background.jpg">
  	<img src="img/banner.jpg" width="100%">
  	<div class="display" id="wish-container">
      <!-- test lantern -->
      <!-- <div class="lantern" id="lantern4" style="left: 600px; top: 20vh;">
        <p class="content">代委合立治回長容区展個教連拾深予更載文江。週振異官言焦上側頑円購囲層際責旅宅正。知具掲問面覧串写主他報針連規決起売。行国中地電第中再馬深都氏均得保続師同。足職発自勤件岡情示策本老近社仙田界容。鮮海蝶形子置育子告州世中並銀額死爆断。広価大属田安打得業初回高興策資言約日社。渡尼正活元</p>
        <p class="author">代委合立治</p>
      </div>
      <div class="lantern" id="lantern5" style="left: 400px; top: 20vh;">
        <p class="content">Ex has tractatos corrumpit, ad dico inimicus praesent cum. Quod inciderint te quo. Mea no modo erroribus salutatus, te nonumy moderatius nam</p>
        <p class="author">- Ex has tractatos corrumpit, ad</p>
      </div> -->
  	</div>
  	<div class="scroll-wrapper">
    	<div class="scroll">
    		<p>Happy CNY! Visit our website at <u>our-website-link.com</u> to send your loved ones a greeting!</p>
    	</div>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/index/js/application.js"></script>
  </body>
</html>
