<!DOCTYPE html>
<html>
  <head>
  	<title>CNY Display</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/index/css/stylesheet.css">
  </head>
  <body background="img/background.jpg">
  	<img src="img/banner.jpg" width="100%">
  	<div class="display" id="wish-container">
  		<p id="wish-text"></p>
  	</div>
  	<div class="scroll-wrapper">
  	<div class="scroll">
  		<h1>Happy CNY! Visit our website at <u>our-website-link.com</u> to send your loved ones a greeting!</h1>
  	</div>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/index/js/application.js"></script>
  </body>
</html>
